@import url(layout/normalize.css);
@import url(layout/base.css);
@import url(blocks/header.css);
@import url(blocks/logo.css);
@import url(blocks/menu.css);
@import url(blocks/contacts.css);
@import url(blocks/hello.css);
@import url(blocks/button.css);
@import url(blocks/offers.css);
@import url(blocks/title.css);
@import url(blocks/news.css);
@import url(blocks/paginator.css);
@import url(blocks/about.css);
@import url(blocks/footer.css);
@import url(blocks/social.css);

.top-line {
  min-height: 412px;
  background: url(../imgs/headline1.png) right top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  }
  
  .top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .page-title {
    line-height: 1;
    margin-bottom: 82px;
  }
  
  .breadcrumbs__list {
    display: flex;
    align-items: center;
  }
  
  .breadcrumbs__item {
    display: flex;
    align-items: center;
    margin-left: 3px;
  }
  
  .breadcrumbs__item::after {
    content: "/ ";
    color: #9A9A9A;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .breadcrumbs__item:last-child::after {
    display: none;
  }
  
  .breadcrumbs__link {
    font-size: 14px;
    text-decoration-line: underline;
    font-style: normal;
    color: #9A9A9A;
  }
  
  .breadcrumbs__link--active {
    font-weight: bold;
  }
  
  .maincontent__top-line {
    background: #F2F2F2;
    color: #303030;
    padding: 93px 0;
  }
  
  .services {
    display: flex;
    padding-bottom: 49px;
  }
  
  .services__item {
    display: flex;
  }
  
  .services__img {
    width: 30%;
    margin-right: 7%;
  }
  
  .services__content {
    flex: 1;
    padding-left: 56px;
   
  }
  
  .services__name {
    padding-top: 10px;
    margin-bottom: 28px;
  }
  
  .services__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 32px;
  }
  
  .partners {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 88px 0;
  }
  
  .partners__names {
    font-size: 48px;
    margin-bottom: 75px;
  }
  
  .partner {
    display: flex;
    flex-wrap: wrap;
  }
  .partner__item {
    margin-left: 70px;
    margin-bottom: 76px;
  }
  
  .partner__item:nth-child(4n + 1) {
    margin-left: 0;
  }

  .partner__item:nth-child(5) {
    margin-bottom: 0px;
  }

  .partner__item:nth-child(6) {
    margin-bottom: 0px;
  }
  
  .partner__item:nth-child(7) {
    margin-bottom: 0px;
  }
  
  .partner__item:nth-child(8) {
    margin-bottom: 0px;
  }
  
  
  .partner__link {
    display: flex;
    width: 230px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }