@import url(layout/normalize.css);
@import url(layout/base.css);
@import url(blocks/header.css);
@import url(blocks/logo.css);
@import url(blocks/menu.css);
@import url(blocks/contacts.css);
@import url(blocks/hello.css);
@import url(blocks/button.css);
@import url(blocks/offers.css);
@import url(blocks/title.css);
@import url(blocks/news.css);
@import url(blocks/paginator.css);
@import url(blocks/about.css);
@import url(blocks/footer.css);
@import url(blocks/social.css);

.top-line {
  min-height: 412px;
  background: url(../imgs/headline1.png) center top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
  }
  
.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  }
  
.page-title {
  line-height: 1;
  margin-bottom: 82px;
  }
  
.breadcrumbs__list {
  display: flex;
  align-items: center;
  }
  
.breadcrumbs__item {
  display: flex;
  align-items: center;
  }
  
.breadcrumbs__item::after {
  content: "/";
  color: #9A9A9A;
  margin: 0px 3px;
  }
  
.breadcrumbs__item:last-child::after {
  display: none;
  }
  
.breadcrumbs__link {
  font-size: 14px;
  text-decoration-line: underline;
  font-style: normal;
  color: #9A9A9A;
  }
  
.breadcrumbs__link--active {
  font-weight: bold;
  }
  
.maincontent-services {
  background: #F2F2F2;
  color: #303030;
  padding: 98px 0px 89px 0px;
  }
  
.services {
  margin-bottom: 55px;
  }
  
.services__item {
  display: flex;
  margin-bottom: 43px;
  }
  
.services__img {
  width: 38.3%;
  margin-right: 7%;
  }
  
.services__content {
 flex: 1;
  }
  
.services__name {
  padding-top: 10px;
  margin-bottom: 28px;
  }
  
.services__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 32px;
  }
  
.partners {
  background: #F4F5F5;
  color: #1A1B1E;
  padding: 88px 0 117px 0;
  }
  
.partners__names {
  font-size: 48px;
  margin-bottom: 88px;
  }
  
.partner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 75px;
  }

.partner__item {
  margin-left: 70px;
  }
  
.partner__item:nth-child(4n + 1) {
  margin-left: 0;
  }
  
 .partner__link {
  display: flex;
  width: 230px;
  height: 50px;
  align-items: center;
  }

.partner__item:nth-child(4n + 1) .partner__link {
  justify-content: flex-start; 
}

.welcome {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(../imgs/bg.png) center bottom / cover no-repeat; 
}

.welcome__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: zoom .7s forwards;

}

.welcome__pic-text {
  background: url(../imgs/shades.png) center center / cover no-repeat;
  width: 591px;
  height: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__welcome {
  padding-top: 60px;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(.9);
  }

  40% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(.9);
  }

  80% {
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: -10px;
}

/* Отзывы */

.reviews-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 103px;
}

.maincontent-reviews {
  background: #F2F2F2;
  padding-top: 100px;
}

.reviews {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 51px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  background: #F4F5F5;
  padding: 50px 31px 33px;
}

.reviews__item {
  margin-bottom: 17px;
}

.review__user {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.review__user-avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 22px;
}

.review__user-name {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #1A1B1E;
}

.review__user-name--blue {
  text-decoration-line: underline;
  color: #2E77A4
}

.review__user-name::after {
  content: url(../imgs/vkblue.png);
  width: 30px;
  height: 30px;
  margin-left: 7px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #303030;
  padding: 9px 17px;
  border-radius: 35px;
  background: #E7E7E7;
}

.tag--green {
  background: #B9EAE4;
}

.review__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #1A1B1E;
  margin-bottom: 13px;
}

.review__text {
  font-size: 16px;
  line-height: 27px;
  color: #818181;
  margin-bottom: 49px;
}

.review__date {
  font-size: 14px;
  color: #1A1B1E;
  font-weight: 600;
}


.banner {
  background: url(../imgs/banner.png);
  height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner:after {
  content: "";
  display: block;
  width: 487px;
  height: 341px;
  background: url(../imgs/couple.png);
  position: absolute;
  right: 12%;
  bottom: 0;
}

.banner__text {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  width: 594px;
}

.feedback {
  background: #F4F5F5;
}

.feedback__name {
  padding-top: 38px;
  font-weight: 700;
  font-size: 48px;
  color: #1A1B1E;
  margin-bottom: 54px;

}

.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 19px 30px;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
}

.form__input:active {
  border: 1px solid #F5170E;
}

.form__input::placeholder {
  color: #666666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
  padding: 27px 30px;
}

.form__input--textarea {
  margin-bottom: -5px;
}

.form__controls {
  display: flex;
}

.form__controls-title {
  width: 39%;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
  padding-left: 5px;
  padding-top: 10px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.controls__item {
  margin-bottom: 9px;
  margin-right: 4px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.form__buttons {
  padding-bottom: 72px;
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 13px;
}

.form__button:last-child {
  margin-right: 0px;
}