.footer {
  margin-top: auto;
}

.footer__container {
  width: 1140px;
  height: 146px;
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid rgba(255, 255, 255, .1); 
  padding-top: 40px; 
}

.footer__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--right {
  display: flex;
  align-items: flex-end;
}

.footer__contacts {
  /* position: absolute;
  right: 0; */
  display: inline-block;
}
