.menu {
  margin-top: 11px;
}

.menu__item {
  display: inline-block;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: inherit;
  font-size: 14px;
}

.menu__link:hover {
  color: #DA0100;
}