.about {
  display: flex;
  margin-top: 146px; 
}

.about__container:before {
content: "";
display: block;
width: 490px;
height: 505px;
background: url(../../imgs/gates.png) center center / cover no-repeat;
}

.about__container:after {
  content: "";
  display: block;
  margin-bottom: 56px;
}
.about__container {
  margin-bottom: 46px;
}

.about__content { 
  width: 785px;
  height: 455px;
  padding: 70px 80px;
  z-index: 1;
  position: absolute;
  top: 96px;
  margin-left: 354px;
  background: url(../../imgs/mountains.png);
}

.about__text {
  color: #060606;
  margin-bottom: 76px;
  line-height: 24px;
  padding: 0px 45px 0px 0px;
}
