.button {
  background: #F5170E;
  display: inline-block;
  font-size: 14px;
  border-radius: 35px;
  text-transform: uppercase;
  padding: 18px 40px;
  font-weight: bold;
  color: #FFFFFF;
}

.button:hover {
  background: #DA0100;
}

.button--light {
  background: #F2F2F2;
  color: #F5170E;
  border: 1px solid #F5170E;
}