.contacts {
  text-align: right;
  font-size: 13px;
}
.contacts__phone {
  color: inherit;
  font-size: 26px;
  line-height: 28px;
}

.contacts__dropdown-title {
  font-size: 13px;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
  margin-top: 5px;
  margin-bottom: 3px;
}
