.title {
  margin-bottom: 51px;
}

.title--fire:after {
  width: 21px;
  height: 28px;
  display: inline-block;
  background-image: url(../../imgs/flame.png);
  margin-left: 6px;
  content: "";
}

.title--dark {
  color: #000000;
  margin-bottom: 40px;
}

