.title {
  margin-bottom: 51px;
}

.title--fire {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.title--fire:after {
  width: 21px;
  height: 28px;
  background-image: url(../../imgs/flame.png);
  margin-left: 15px;
  content: "";
}

.title--dark {
  color: #000000;
  margin-bottom: 40px;
}

